@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply antialiased;
  }

  body {
    @apply bg-gray-50 text-gray-900;
  }
}

@layer utilities {
  .tap-highlight-transparent {
    -webkit-tap-highlight-color: transparent;
  }
}
